body {
    
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("/img/welcome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 95% 100%;
}
.zend_form{
     -moz-box-shadow: 0px 19px 49px #1a1a1a;
    -webkit-box-shadow: 0px 19px 49px #1a1a1a;
    box-shadow: 0px 19px 49px #1a1a1a;
    background: -moz-linear-gradient(top,  rgba(239,255,244,1) 1%, rgba(239,255,244,0.99) 2%, rgba(239,251,245,0.5) 42%, rgba(239,246,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,255,244,1)), color-stop(2%,rgba(239,255,244,0.99)), color-stop(42%,rgba(239,251,245,0.5)), color-stop(100%,rgba(239,246,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effff4', endColorstr='#eff6f7',GradientType=0 ); /* IE6-9 */

    
}
jumbotron {


    -moz-box-shadow: 0px 19px 49px #1a1a1a;
    -webkit-box-shadow: 0px 19px 49px #1a1a1a;
    box-shadow: 0px 19px 49px #1a1a1a;


}
.panel {
    -moz-box-shadow: 0px 19px 49px #1a1a1a;
    -webkit-box-shadow: 0px 19px 49px #1a1a1a;
    box-shadow: 0px 19px 49px #1a1a1a;
    background: -moz-linear-gradient(top,  rgba(239,255,244,1) 1%, rgba(239,255,244,0.99) 2%, rgba(239,251,245,0.5) 42%, rgba(239,246,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,255,244,1)), color-stop(2%,rgba(239,255,244,0.99)), color-stop(42%,rgba(239,251,245,0.5)), color-stop(100%,rgba(239,246,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effff4', endColorstr='#eff6f7',GradientType=0 ); /* IE6-9 */

}

.zf-green {
    color: #68b604;
}

button {
       background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
    
}

button:hover {
    background-color: #57a900;
}
.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/xcoglogo30.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.gps_ring:hover {

    position: inherit;

    -webkit-animation: flicker 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1.0
}
@-webkit-keyframes flicker {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

div.shadow {

}

div.shadow:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
footer {
    -moz-box-shadow: 0px 19px 49px #1a1a1a;
    -webkit-box-shadow: 0px 19px 49px #1a1a1a;
    box-shadow: 0px 19px 49px #1a1a1a;
    background: -moz-linear-gradient(top,  rgba(239,255,244,1) 1%, rgba(239,255,244,0.99) 2%, rgba(239,251,245,0.5) 42%, rgba(239,246,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,255,244,1)), color-stop(2%,rgba(239,255,244,0.99)), color-stop(42%,rgba(239,251,245,0.5)), color-stop(100%,rgba(239,246,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,255,244,1) 1%,rgba(239,255,244,0.99) 2%,rgba(239,251,245,0.5) 42%,rgba(239,246,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effff4', endColorstr='#eff6f7',GradientType=0 ); /* IE6-9 */

}    
footer ul>li  {
    display: inline-block;   /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline; /* this fix is needed for IE7- */

}    

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

.register-button {
    
   
border:outset 5px #ff0000;
-moz-border-radius-topleft: 75px;
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:75px;
-webkit-border-top-left-radius:75px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-left-radius:6px;
-webkit-border-bottom-right-radius:75px;
border-top-left-radius:75px;
border-top-right-radius:0px;
border-bottom-left-radius:6px;
border-bottom-right-radius:75px;
-moz-box-shadow: 5px 4px 61px #ffffff;
-webkit-box-shadow: 5px 4px 61px #ffffff;
box-shadow: 5px 4px 61px #ffffff;

}