<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="description" content="Excognition Studios Web and Mobile">
<meta name="keywords" content="Excognition,Excognition Studios,Xcogstudios,xcog,xcogstudios.com,HTML,CSS,XML,JavaScript">
<meta name="author" content="Hege Refsnes">
        <?php echo $this->headTitle('xcogstudios.com '. $this->translate('xcogstudios.com'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/heart.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="js/snowstorm.js"></script>
<script src="js/popup.js"> </script>
<script src="js/facebook.js"></script>

    </head>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
                        <span class="gps_ring">    
                            <img src="<?php echo $this->basePath('img/xcoglogo30.png') ?>" alt="Excognition Studios"/>
                       </span>
                        &nbsp;<?php echo $this->translate('XcogStudios.com') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
                        <li>
                            <a href="/garden">Garden</a>
                        </li>
                       
                        <li>
                            <a herf="tel:+15034798471">Call Us</a>
                        </li>
                        
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        
                        <li>
                            <a id="opener2">Login/Register</a>
                            <button id="log-out"> Log Out </button>
                            <script>
                                function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
                                FB.logout(function(response) {
        // Person is now logged out
    });
       $( "#log-out" ).click(FB.logout)
            );
                            </script>
                        </li>
                   
                        <div style="display: none" id="dialog-login" title="Login and Registration">
                         <span id="signinButton">
                                <span
                                    class="g-signin"
                                    data-callback="signinCallback"
                                    data-clientid="622836554399-57jldjkd21nje1d9r9it5pjimputpq6r.apps.googleusercontent.com"
                                    data-cookiepolicy="single_host_origin"
                                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                    data-scope="https://www.googleapis.com/auth/plus.login">
                                </span>
                            </span>
                              <div id="fb-root"></div> doc
                         
                        <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>                    
                             </div>                       
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <ul>
                    <li>
                        <p>&copy; 2013 - <?php echo date('Y') ?> by Excognition Studios Development. <?php echo $this->translate('All rights reserved.') ?></p>
                    </li>
                    <li> 
                        <span class="gps_ring" >
                            <image src="/img/ssl_certificate.png" alt="SSL Cert Icon" />
                        </span>
                    </li>
                    <li>
                        <div class='heart animated css'></div> <h2>Powered by Passion</h2>
                    </li>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="JN33G9YF4ZSAW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                    </li>
                    <li>
                        <script src=
"http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" 
type="text/javascript"></script>

<fb:comments></fb:comments>

<script type="text/javascript">
FB.init("1386509928271166", "//xcogstudios.com");
</script>
                    </li>
                </ul>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
