<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('%sxMobile Web xApplication Under Development%s'),'<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('Xcogstudios.com is under development and buttons may not work yet. Excognition Studios is proudly commited to providing useful, powerful and secure applications for the amature and professional alike. '), '<a href="https://bitbucket.org/robertbeatie" target="_blank">', '</a>', \Zend\Version\Version::VERSION) ?></p>
    <p><a class="btn btn-success btn-lg" href="mailto:contactus@xcogstudios.com"><?php echo $this->translate('Email Us') ?> &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Follow Our Development') ?></h3>
            </div>
            <div class="panel-body">
                <p>Green Tech Garden Almanac Project (GTGAP) description:

A free and open source program that will access a digitally indexed resource that is aimed at helping anyone who wants to have a productive garden with-in a restrictive or hostile region achieve their goals with a minimalist's approach.
We will provide an archived library of reported methods algorithmic-ally weighted by what our users find the most useful or accurate . 
We are committed to producing a quality resource that is universally understood and accessible.
We hope to analyze our data and methods using visualizations and algorithms to present new understandings of data to the world.
"Education is the most powerful weapon which you can use to change the world." (Nelson Mandela ( 1918 - 2013 ) )

admin@xcogstudios.com

For all and any questions please feel free to contact us and please allow 24hrs for a response.
                <p><a class="btn btn-success pull-right" href="//bitbucket.org/RobertBeatie"><?php echo $this->translate('Xcogstudios.com Development Portal') ?> &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Become Involved') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('Right now we are just squaring away the website and database, we also have to put together our forms and content and we are always looking for financial backers and we do have advertising spots open, the less we have to market the faster we can launch products, Please let us know if you want to be a part of our endevoures'), '<a href="https://github.com/zendframework/modules.zendframework.com">', '</a>') ?></p>
                <p><a class="btn btn-success pull-right" href="/user" target="_self"><?php echo $this->translate('Join our collective') ?> &raquo;</a></p>

            </div>
        </div>
    </div>
    <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Shout out your support!') ?> </h3>
            </div>
            <div class="panel-body">
                    <a href="https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html"> <img border="0" src="http://upstream.where.com/jin/spotlight/ads?pubid=94af80a070&format=png&v=2.4&channel=email&placementtype=468x60&td={%22d%22:{%22segments%22:{%22distro%22:%22email%22}}}" width="468" height="60" alt="Check out with PayPal and choose Bill Me Later. Subject to credit approval. See Terms."></a> 
            </div>
        </div>
    </div>
       <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('User Status') ?> </h3>
            </div>
            <div class="panel-body">
                <script>
FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    // the user is logged in and has authenticated your
    // app, and response.authResponse supplies
    // the user's ID, a valid access token, a signed
    // request, and the time the access token 
    // and signed request each expire
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
  } else if (response.status === 'not_authorized') {
    // the user is logged in to Facebook, 
    // but has not authenticated your app
  } else {
    // the user isn't logged in to Facebook.
  }
 });


                </script>
                <script>
                    document.write(uid);
                    
                    </script>
                    <?php 
                    print_r($uid);
                    echo "break";
                    print_r($response);
                    
                    ?>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Help &amp; Support') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('If you need any help or have any questions about any of our services or just cuz you want to say whats up, then drop us a line <(^^)> '), '<a href="irc://irc.freenode.net/zftalk">', '</a>', '<a href="http://framework.zend.com/wiki/display/ZFDEV/Mailing+Lists">', '</a>') ?></p>
                <p><a class="btn btn-success pull-right" href="mailto:contactus@xcogstudios.com"><?php echo $this->translate('Help Me!') ?> &raquo;</a></p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 shadow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('FREE!') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <?php echo sprintf($this->translate('Subscribe to our semi-monthly-more-quarterly xNewsLetter, for FREE! Also we can send you a FREE (plus shipping) Hand-Crafted (with love) Pin-Button right to your door. This technological advancement will amaze your friends and lover(s) by its poly-philic-adhesiveness. Through the laws of physics this mechanical marvel can ajoin to near-any surface of clothing making the placment of such a WONDEROUS artifact in an array of INFINITLY unique adornments, that RADIATES to the world. YES!')) ?></p>
                <p>
                <form name="ButtonForm" action="../src/Application/Controller/FormController.php" method="POST">
                    <div style="display: none" id="dialog" title="Free Stuff!">
  <p>Excognition Studios Registration Form</p>
  <input type="text" name="fname">
<fieldset class="registration-form">
			<legend>Registration</legend>
			<dl>
				<dt>
					<label for="uname">What would you like us to call you? :</label>
				</dt>
				<dd><input type="text" id="uname" class="lettersonly" name="uname" value="<type name here>" /></dd>
			</dl>
			<dl>
				<dt>
					<label for="uemail">What email may we contact you by? :</label>
				</dt>
				<dd><input type="text" id="uemail" class="email" name="uemail" value="email@ddres.here" /></dd>
			</dl>
			<dl>
				<dt>
					<label for="newsrb">Subscribe to xNews : FREE</label>
				</dt>
				<dd>
					<ul>
						<li><input type="checkbox" id="newsrb" name="newsrb" value="newsletterrb" checked="checked" />
							<label>Excognition Studios's Semi-Monthly eZine style Newsletter that is commited to bringing you educational and empowering technologies.</label>
						</li>
					</ul>
								</dd>
			</dl>
			<dl>
				<dt>
					<label for="free-button-rb">Check here to get your FREE button (plus shipping) !</label>
				</dt>
				<dd>
					<ul>
						<li><input type="checkbox" id="free-button-rb" name="free-button-rb" value="free-button-rb" checked="checked" />
							<label>YES!</label>
						</li>
					</ul>
								</dd>
			</dl>
			<dl>
				<dt>
					<label for="termsofservice-cb">Agree to Terms of Service? This Form is just a mock up for functionality and soon to have AJAX! :D</label>
				</dt>
				<dd>
					<ul>
						<li><input type="checkbox" class="required" id="termsofservice-cb" name="termsofservice-cb" value="tos" />
							<label>Yes</label>
						</li>
					</ul>
								</dd>
			</dl>
			<div id="submit_buttons">
				<button type="reset">Reset</button>
				<button type="submit">Submit</button>
			</div>
				</fieldset>
                    </div>
                </form>
                <button class="register-button" id="opener1">Register Now!</button>
                </p>
            </div>
        </div>
    </div>
</div>
